<div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link" id="cadastro-tab" data-toggle="tab" href="#cadastro" role="tab" aria-controls="cadastro" aria-selected="true">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="lista-tab" data-toggle="tab" href="#lista" role="tab" aria-controls="lista" aria-selected="false">Lista</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="horarios-tab" data-toggle="tab" href="#horarios" role="tab" aria-controls="horarios" aria-selected="false">Horarios</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade" id="cadastro" role="tabpanel" aria-labelledby="cadastro-tab">
           
          </div>
          <div class="tab-pane fade show active" id="lista" role="tabpanel" aria-labelledby="lista-tab">
              
          </div>
          <div class="tab-pane fade" id="horarios" role="tabpanel" aria-labelledby="horarios-tab">
            Horarios
          </div>
        </div>
      </div>
    </div>
  </div>