<div class="card-body">
  <div class="row">
    <div class="col-md-12">
      <h3>Estagiarios</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="cadastro-tab" data-toggle="tab" href="#cadastro" role="tab" aria-controls="cadastro" aria-selected="true">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="lista-tab" data-toggle="tab" href="#lista" role="tab" aria-controls="lista" aria-selected="false">Lista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"  id="horarios-tab" data-toggle="tab" href="#horarios" role="tab" aria-controls="horarios" aria-selected="false">Horarios</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="cadastro" role="tabpanel" aria-labelledby="cadastro-tab">
         <div class="card">
           <div class="card-body">
            <form role="form">
              <fieldset>
                <div class="row">
                  <div class="form-group col-md-3">
                    <label for="matricula">Matricula</label>
                    <input type="text" class="form-control" id="matricula" placeholder="Insira a matricula">
                  </div>
                  <div class="form-group col-md-9">
                    <label for="nome">Nome Completo</label>
                    <input type="text" class="form-control" id="nome" placeholder="Insira o nome completo">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-3">
                    <label for="TelefoneP">Telefone Principal</label>
                    <input type="text" name="TelefoneP" id="TelefoneP" placeholder="Informe o Telefone Principal" class="form-control">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="TelefoneS">Telefone Secundario</label>
                    <input type="text" name="TelefoneS" id="TelefoneS" placeholder="Informe um telefone Adicional" class="form-control">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="Email">Email</label>
                    <input type="email" name="Email" id="Email" placeholder="Informe o Email" class="form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-5">
                    <label for="Turno">Turno</label>
                    <select name="Turno" id="Turno" class="form-control">
                      <option value="0">Selecione</option>
                      <option value="1">Matutino</option>
                      <option value="2">Vespetino</option>
                      <option value="3">Noturno</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="Periodo">Periodo</label>
                    <input type="number" max="20" class="form-control" id="Periodo" placeholder="Periodo"/>
                  </div>
                  <div class="form-group col-md-5">
                    <label for="TipoEstagio">Tipo</label>
                    <select name="TipoEstagio" id="TipoEstagio" class="form-control">
                        <option value="0">Selecione</option>
                        <option value="1">Obrigatorio</option>
                        <option value="2">Opicional</option>
                      </select>
                </div>
              </div>
                <div class="box-actions pull-rigth">
                  <button type="submit" style="margin: 5px" class="btn btn-primary">Salvar</button>
                  <button id="editar" style="margin: 5px" class="btn btn-warning">Editar</button>
                  <button style="margin: 5px" class="btn btn-danger">Cancelar</button>
                </div>
              </fieldset>
            </form>
           </div>
          </div>
         </div>
        <div class="tab-pane fade show active" id="lista" role="tabpanel" aria-labelledby="lista-tab">
            <div class="card">
                <div class="card-body">
          <table class="table" id="TabelaEstagiarios" name="TabelaEstagiarios">
            <thead class="thead-light">
              <tr>
                <th scope="col">Matricula</th>
                <th scope="col">Nome Completo</th>
                <th scope="col">Abordagem</th>
                <th scope="col">Status</th>
                <th scope="col">Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">20141043015</th>
                <td>Alexsander Camargo</td>
                <td>Tecnologia da Informação</td>
                <td>Ativo</td>
                <td><div class="btn-group">
                  <button type="button" class="btn btn-defaut dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <span><i class="fab fa-whmcs"></i></span> Ação
                  </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#"></a>
                    <a class="dropdown-item" href="#"><span><i class="far fa-eye"></i></span> Visualizar</a>
                    <a class="dropdown-item" href="#"><span><i class="fas fa-edit"></i></span> Editar</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><span><i class="fas fa-trash-alt"></i></span> Excluir</a>
                  </div>
                </div></td>
              </tr>
              <tr>
                <th scope="row">20141043025</th>
                <td>Jacob Thornton</td>
                <td>Psicologia</td>
                <td>Inativo</td>
                <td><div class="btn-group">
                  <button type="button" class="btn btn-defaut dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <span><i class="fab fa-whmcs"></i></span> Ação
                  </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#"></a>
                    <a class="dropdown-item" href="#"><span><i class="far fa-eye"></i></span> Visualizar</a>
                    <a class="dropdown-item" href="#"><span><i class="fas fa-edit"></i></span> Editar</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><span><i class="fas fa-trash-alt"></i></span> Excluir</a>
                  </div>
                </div></td>
              </tr>
              <tr>
                <th scope="row">20141043035</th>
                <td>Larry the Bird</td>
                <td>Jornalismo</td>
                <td>Ativo</td>
                <td><div class="btn-group">
                  <button type="button" class="btn btn-defaut dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <span><i class="fab fa-whmcs"></i></span> Ação
                  </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#"></a>
                    <a class="dropdown-item" href="#"><span><i class="far fa-eye"></i></span> Visualizar</a>
                    <a class="dropdown-item" href="#"><span><i class="fas fa-edit"></i></span> Editar</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><span><i class="fas fa-trash-alt"></i></span> Excluir</a>
                  </div>
                </div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
        <div class="tab-pane fade" id="horarios" role="tabpanel" aria-labelledby="horarios-tab">
          Horarios
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://pastebin.com/dl/DvdLuP7N"></script>